<configuration>
	<system.serviceModel>
		<services>
			<service name="JHEquipSim_WCF_Server.XmlReceiverService" behaviorConfiguration="XmlReceiverServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="JHEquipSim_WCF_Server.IXmlReceiverService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="XmlReceiverServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>